NEXT_PUBLIC_BASE_URL=https://your-domain.com

NEXT_PUBLIC_FACEBOOK_APP_ID=your_app_id
FACEBOOK_APP_ID=your_app_id  
FACEBOOK_APP_SECRET=your_app_secret

NEXT_PUBLIC_LINKEDIN_CLIENT_ID=your_client_id
LINKEDIN_CLIENT_ID=your_client_id
LINKEDIN_CLIENT_SECRET=your_client_secret

NEXT_PUBLIC_REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret

NEXT_PUBLIC_X_CLIENT_ID=your_client_id
X_CLIENT_ID=your_client_id

